/* article.css */
#article{width: 100%; height: auto;}

/* ------------------------- #article --------------------------------------- */
#articleWrap div>ul>li.lastbox{margin-right: 0;}
#article>div>div{width: 900px; margin: 0 auto;  padding: 0 40px;}
#article_01{width: 100%; height: 380px;}
        #article_01>ul{width: 100%; height: 240px; padding:70px 0;}
        #article_01>ul>li{height: 100%; float: left; background-color: #fff;}
            #article_01>ul>li.art_left{width: 598px; margin-right: 18px;}
            #article_01>ul>li.art_right{width: 284px; overflow: hidden;}
                ul>li.art_left>a{background-image: url(../img/article/art_left.jpg);}
                ul>li.art_right>a{background-image: url(../img/article/art_right.jpg);}

#article_02{width: 100%; height: 676px; border-top: 2px solid #ececec;}
#article_02>#art02Wrap{height: 500px; padding: 70px 0;}
        #article_02>div>span{width: 100%; height: 26px; margin-bottom: 10px; display: block; background-image: url(../img/article/art02_title.jpg); background-repeat: no-repeat; text-indent: -9999em;}
    #art02Wrap>ul{width: 100%; height: 240px; float: left;}
        #art02Wrap>ul>li{width: 218px; height: 100%; margin-right:10px; float: left;}
            #art02Wrap>#art02_top{margin-bottom: 20px;}
            #art02Wrap>ul>li.art02_top1{width: 444px;}
            #art02Wrap>ul>li.art02_bottom3{width: 444px;}
                ul>li.art02_top1>a{background-image: url(../img/article/art02_top1.jpg);}
                ul>li.art02_top2>a{background-image: url(../img/article/art02_top2.jpg);}
                ul>li.art02_top3>a{background-image: url(../img/article/art02_top3.jpg);}
                ul>li.art02_bottom1>a{background-image: url(../img/article/art02_bottom1.jpg);}
                ul>li.art02_bottom2>a{background-image: url(../img/article/art02_bottom2.jpg);}
                ul>li.art02_bottom3>a{background-image: url(../img/article/art02_bottom3.jpg);}

#article>div>#article_03{width: 100%; height: 380px; background-color: #fef8da; padding: 70px 0;}
#article_03>#art03Wrap{width: 900px; height: 100%; margin: 0 auto; }
    #article_03>#art03Wrap>div{float: left;}
    #art03Wrap>#art03_l{width: 500px; height: 100%; margin-right: 20px;}
    #art03Wrap>#art03_r{width: 380px; height: 100%;}
        #art03Wrap>#art03_l>span{width: 100%; height: 26px; margin: 24px 0 10px 0; display: block;}
        #art03Wrap>#art03_l>ul{width: 100%; height:130px;}
            #art03_l>ul>li{width: 99px; height:100%; float:left; border-right: 1px solid #ececec;}
        #art03Wrap>#art03_r>ul{width: 100%; height:100%;}
            #art03_r>ul>li{width:184px; height:100%; margin-right:12px; float: left;}
                #art03_l>.art03_title1{background-image: url(../img/article/art03_01_title.jpg); background-repeat: no-repeat; display: block; text-indent: -9999em;}
                #art03_l>.art03_title2{background-image: url(../img/article/art03_02_title.jpg); background-repeat: no-repeat; display: block; text-indent: -9999em;}
                ul>li.art03_01>a{background-image: url(../img/article/art03_top.jpg);}
                ul>li.art03_02>a{background-image: url(../img/article/art03_top.jpg); background-position: -100px;}
                ul>li.art03_03>a{background-image: url(../img/article/art03_top.jpg); background-position: -200px;}
                ul>li.art03_04>a{background-image: url(../img/article/art03_top.jpg); background-position: -300px;}
                ul>li.art03_05>a{background-image: url(../img/article/art03_top.jpg); background-position: -400px;}
                ul>li.art03_06>a{background-image: url(../img/article/art03_bottom.jpg);}
                ul>li.art03_07>a{background-image: url(../img/article/art03_bottom.jpg); background-position: -100px;}
                ul>li.art03_08>a{background-image: url(../img/article/art03_bottom.jpg); background-position: -200px;}
                ul>li.art03_09>a{background-image: url(../img/article/art03_bottom.jpg); background-position: -300px;}
                ul>li.art03_10>a{background-image: url(../img/article/art03_bottom.jpg); background-position: -400px;}
                ul>li.art03_bn1>a{background-image: url(../img/article/art03_03_bn1.jpg);}
                ul>li.art03_bn2>a{background-image: url(../img/article/art03_03_bn2.jpg);}

#article_04{width: 100%; height: 496px;}
    #article_04>#art04Wrap{width: 100%; height: 360px; padding: 70px 0;}
        #art04Wrap>ul{width: 300px; height: 100%; float: left;}
        #art04Wrap>ul>li{width: 100%; height: 100%; float: left;}
            #art04Wrap>ul>li.art04_box1{width: 280px; height: 320px; padding:20px 10px;}
            #art04Wrap>ul>li.art04_box2{width: 280px; height: 320px; padding:20px 10px;}
            #art04Wrap>ul>li.art04_box3_1{height: 120px;}
            #art04Wrap>ul>li.art04_box3_2{height: 120px;}
            #art04Wrap>ul>li.art04_box3_3{height: 120px;}
                ul>li.art04_box1>a{background-image: url(../img/article/art04_box1.jpg);}
                ul>li.art04_box2>a{background-image: url(../img/article/art04_box2.jpg);}
                ul>li.art04_box3_1>a{background-image: url(../img/article/art04_box3_1.jpg);}
                ul>li.art04_box3_2>a{background-image: url(../img/article/art04_box3_2.jpg);}
                ul>li.art04_box3_3>a{background-image: url(../img/article/art04_box3_3.jpg);}


#article_05{width: 100%; height: 240px;}
    #article_05>#art05Wrap{width: 100%; height: 100px; padding: 70px 0;}
        #art05Wrap>#art05_l{width: 600px; height: 100%; float: left;}
        #art05Wrap>#art05_r{width: 292px; height: 100%; float: right;}
            #art05Wrap>#art05_l>li{width: 300px; height: 100%; float: left;}
            #art05Wrap>#art05_r>li{width: 64px; height: 100%; float: left; margin-left: 25px;}
                ul>li.art05_01>a{background-image: url(../img/article/art05_01.jpg);}
                ul>li.art05_02>a{background-image: url(../img/article/art05_02.jpg); background-position: 0 -4px;}
                ul>li.art05_03>a{background-image: url(../img/article/art05_03.jpg);}
                ul>li.art05_04>a{background-image: url(../img/article/art05_04.jpg);}
                ul>li.art05_05>a{background-image: url(../img/article/art05_05.jpg);}

#article_06{width: 100%; height: 80px;}
    #article_06>#art06Wrap{width: 100%; height: 64px; padding: 8px 0;}
        #art06Wrap>li{width: 64px; height: 100%; float: left; margin-right: 21px;}
        #art06Wrap>li.art06_01{width: 142px; margin-right: 40px;}
        #art06Wrap>li.art06_02{width: 36px; margin-right: 36px;}
        #art06Wrap>li.art06_09{margin-right: 36px;}
        #art06Wrap>li.art06_10{width: 36px;}
            ul>li.art06_01>a{background-image: url(../img/article/art06_01.jpg);}
            ul>li.art06_02>a{background-image: url(../img/article/art06_02.jpg);}
            ul>li.art06_03>a{background-image: url(../img/article/jehyu.png); background-position: -5px -5px;}
            ul>li.art06_04>a{background-image: url(../img/article/jehyu.png); background-position:  -79px -5px;}
            ul>li.art06_05>a{background-image: url(../img/article/jehyu.png); background-position: -153px -5px;}
            ul>li.art06_06>a{background-image: url(../img/article/jehyu.png); background-position: -227px -5px;}
            ul>li.art06_07>a{background-image: url(../img/article/jehyu.png); background-position: -301px -5px;}
            ul>li.art06_08>a{background-image: url(../img/article/jehyu.png); background-position: -375px -5px;}
            ul>li.art06_09>a{background-image: url(../img/article/jehyu.png); background-position: -449px -5px;}
            ul>li.art06_10>a{background-image: url(../img/article/art06_10.jpg);}