/* banner.css */
#bannerListWrap>ul>li.lastbox{margin-right: 0;}

/* ------------------------- #banner --------------------------------------- */
#banner{width: 100%; height: 440px;  background-repeat: no-repeat; position: relative; z-index: 300; overflow: hidden;}


#banner>ul {width: 300%; height: 100%; margin-left: -100%;}
    #bannerWrap>li{width: 33.3333%; height: 100%; float: left;
        font-size:5rem; color:#fff; line-height: 27.5rem; text-align: center;
        background-repeat: no-repeat; background-size: 100%; background-position: center center;
                        transition-property: all;
                        transition-duration: 2s;
                        transition-delay: 0.2s;}
        .banner1{background-color:#127;}
        .banner2{background-image: url(../img/banner/banner_1.jpg);}
        .banner3{background-color:#98f;}

/* 하단 바 */
#banner>#bannerBar {width: 100%; height: 160px; background-color: rgba(0,0,0,.6); position: absolute; z-index: 500; top: 280px; left: 0;}
#bannerListWrap{width: 880px; height: calc(100% - 28px); padding: 14px 0; margin-left: calc(50% - 440px); overflow: hidden;}
    #bannerListWrap>ul{width: 300%; height: 100%; margin-left: -100%;
                        transition-property: all;
                        transition-duration: 2s;
                        transition-delay: 0.2s;}
        #bannerListWrap>ul>li{width: 132px; height: 100%; margin-right: 47px; float: left; background-image: url(../img/banner/banner_1.jpg); border-radius: 50%;}
        #bannerListWrap>ul>li>a{width: 100%; height: 100%; display: block; line-height: 132px; text-align: center; background-color: rgba(0,0,0,.4); border-radius: 50%; color:#fff;}

/*   좌우버튼   */
.nav_btn{width: 34px; height: 124px; position: absolute; z-index: 400; top: 130px; cursor: pointer;}
        .banner_l{margin-left: calc(50% - 480px); background-image: url(../img/banner/left_nav.png);}
        .banner_r{margin-left: calc(50% + 446px); background-image: url(../img/banner/right_nav.png);}
.banner_l:hover ~ ul>li:first-child {margin-left: calc(100% / 3);}
.banner_r:hover ~ ul>li:first-child {margin-left: calc(-100% / 3);}
.banner_l:hover ~ #bannerBar>article>ul {margin-left: 0px;}
.banner_r:hover ~ #bannerBar>article>ul {margin-left: -200%;}