/* footer.css */

/*---------------footer-----------------*/

#footer{width: 100%; height: auto; background-color: #fef8da;}
#ftWrapBar{width: 100%; background-color: #7f7f7f;}
#ftBar{width: 888px; height: 36px; margin: 0 auto; padding: 0 36px;}
#ftBar>ul{height: 100%; float: left;}
#ftBar>ul>li{height: 100%; float: left; font-size: 0.85rem; line-height: 2.25rem;}
#ftBar>ul>li>a{color:#fff;}
#ftBar>ul>li:nth-of-type(9)>a{font-weight: bold;}
#ftBar>ul>li>span{height: 100%; border-right: 1px solid #fff; margin: 0 6px;}
#ftBar>span{width: 120px; height: 100%; float: right; background-color: #525252; display: block;}
#ftBar>span>a{display: block; width: 100%; height: 100%; color:#fff;  text-align: center; line-height: 2.25rem; font-size: 0.85rem;}
#ftBar>span>a:hover{background-color: #e50;}

#ftFooterWrap{width: 888px; height:100px; margin: 0 auto; font-size:0.85rem; padding: 20px 36px;}
    #ft_footer{width:730px; height: 100%; float: left;}
    #ft_footer strong{font-weight: bold;}
    #ft_footer>.ft_add{margin-bottom: 10px; line-height: 1.25rem;}
    #ft_sns{width: 132px; height:40px; float: right;}
    #ft_sns>li{width: 40px; margin-right: 6px; height: 100%; float: left;}
    #ft_sns>li:last-child{margin-right: 0;}
    #ft_sns>li>a{width: 100%; height: 100%; background-image: url(../img/footer/snslogo.png); display: block; background-repeat: no-repeat;}
    #ft_sns>.blog>a{background-position:0 center;}
    #ft_sns>.kakao>a{background-position:-54px center;}
    #ft_sns>.kas>a{background-position:-108px center;}